@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>

<p>
    This website is developed and maintained by <a target="_blank" href="https://mccshreyas.wordpress.com/about-me/">Shreyas Jejurkar</a>.
    Website is fully open source and contribution towords it are always welcomed.
    Checkout source on <a target="_blank" href="https://github.com/MCCshreyas/IdeaNote">Github</a>.
</p>

Contact developer - <a target="_blank" href="https://twitter.com/mccshreyas">Twitter</a>