<div class="jumbotron bg-info text-center">
    <h1 class="display-3">Welcome</h1>
    <p class="lead">Collect your ideas here at one place so you wont forget them.</p>
    <p class="lead text-dark">Because one idea can change your life<p>
    <a href="/idea/create" class="btn btn-dark btn-lg">Add Idea</a>
</div>